<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CouchDBSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Main.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>plan-generator-server.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>OBJ_205</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_212</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_222</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_231</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_240</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_255</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_303</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_311</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_318</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_381</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_396</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_412</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_425</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_439</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_452</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_477</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_500</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_507</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_528</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_558</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_583</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_635</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
